/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.course-card {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-card h2 {
    margin: 0 0 10px;
    color: #007BFF;
}

.course-card p {
    margin: 5px 0;
    font-size: 16px;
}

.course-card ul {
    list-style-type: none;
    padding: 0;
}

.course-card li {
    margin: 10px 0;
    font-size: 14px;
}

.course-card h3 {
    margin-top: 20px;
    color: #333;
}

.course-card ul {
    padding-left: 20px;
}

.course-card li {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
}

.course-card li strong {
    color: #007BFF;
}


#search-box{  
    width:100%; 
    padding:20px 10px; 
    margin: auto;
    border: 2px solid #007BFF;
    border-radius: 10px;
}

.search-box-wrapper{
    display: flex;
    justify-self:center;
    padding:  20px 0;
}