
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: #1e66ee;
  height: 175vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #2196f3;
  text-decoration: none;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-box {
  margin: 10px;
  border-radius: 1rem;
  border: 2px solid gray;
  width: 220%;
}

.user-item {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid var(--app-mute);
  width: 100%;
}



.user-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.view {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: max-content;
  background-color: var(--app-white);
  font-weight: bold;
  font-size: 18px;
  color: var(--app-primary);
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  display: flex;
}

.edit {
  background-color:#1e88e5;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}

.delete {
  display: flex; 
  background-color:#f50b0b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}





