
.courses-list {
  display: flex;
  flex-direction: column;
}

.course-item {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid var(--app-mute);
  width: 70%;
}

.course-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 25px;
  border-radius: 1rem;
}

.course-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.course-title {
  font-weight: 500;
  margin: 0;
}

.course-subject {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.go-to-course {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: max-content;
  background-color: var(--app-white);
  font-weight: bold;
  font-size: 18px;
  color: var(--app-primary);
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
}

.go-to-course:hover {
  color: var(--app-white);
  background-color:var(--app-primary);
}
