.search-bar {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 1rem 0rem 0rem 1rem;
  border: none;
  background-color: var(--app-white);
  font-size: large;
}

#search-button {
  padding: 5px;
  cursor: pointer;
  background-color: var(--app-white);
  border: none;
  border-radius: 0rem 1rem 1rem 0rem;
  font-size: large;
  padding-inline: 20px;
}
#search-button:hover {
  background-color: #ccc;
}

.courses-list {
  display: flex;
  flex-direction: column;
}

.course-item {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid #ccc;
  width: 70%;
}

.course-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 25px;
  border-radius: 1rem;
}

.course-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.course-title {
  font-weight: 500;
  margin: 0;
}

.course-subject {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.go-to-course {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: max-content;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  color: rgb(90, 106, 248);
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
}

.go-to-course:hover {
  color: white;
  background-color: rgb(90, 106, 248);
}
