@import url('global.css');

/* Heading Styles */

.heading {
  color: var(--app-primary);
  margin: 0.5rem 0.75rem;
}

/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--app-secondary);
  color: var(--app-white);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header Menu Styles */

.nav {
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: var(--app-white);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--app-active);
}

/* Button Styles */

.special-button {
  background-color: var(--app-special);
  border: none;
  padding: 10px 20px;
  color: var(--app-white);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 200ms ease-in;
}

.special-button:hover {
  background-color: var(--app-active);
}

/* Footer Styles */

.footer {
  background-color: var(--app-secondary);
  color: var(--app-white);
  padding: 40px 0 0 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo h3 {
  font-size: 24px;
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 15px;
}

.footer-links ul li a {
  color: var(--app-white);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--app-active);
}

.footer-social a {
  color: var(--app-white);
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--app-active);
}

.footer-bottom {
  padding: 20px 0;
  background-color: var(--app-tertiary);
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/*======USER DASHBOARD=========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2 {
  color: #000000;
}

h3 {
  color: #535c68;
}

/*side navigation bar*/
.side-bar {
  position: fixed;
  background: #eaa19d;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar li {
  font-size: 15px;
  padding: 10px 40px;
  color: #000000;
  display: flex;
  align-items: center;
}

.side-bar li:hover {
  background-color: #413b3a;
  color: #ffffff;
}

/*upper navigation bar*/
.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: #ffffff;
}

.header-2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background-color: #3a3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.search {
  flex: 3;
  display: flex;
  justify-content: center;
}

.search input[type=text] {
  border: none;
  background-color: #f4f1f1;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
}

.search button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
}

.user {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user img {
  width: 20px;
  height: 20px;
}

.pro-pic {
  position: relative;
  width: 20px;
  height: 20px;
}

.pro-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pro-pic img:hover {
  background-color: #413b3a;
  color: #ffffff;
}

/*content*/
.content {
  position: static;
  margin-top: 10vh;
  min-height: 90vh;
}

.cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-1 {
  width: 250px;
  height: 100px;
  background-color: #dfb9b9;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgb(0, 0, .02), 0 6px 20px rgb(0, 0, 0.19);

}

.icon-case img {
  width: 50px;
  height: 50px;
}

/*upcomming courses*/
.content-2 {
  min-height: 60vh;
  /*display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;*/
}

.content-2 h1 {
  text-align: left;
}

.upcome {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.new-event {
  width: 350px;
  height: 200px;
  background-color: #978b8b;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}