:root {
  --app-bg: #ffffff;
  --app-white: white;
  --app-primary: #006cff;
  --app-secondary: #333;
  --app-text: #222;
  --app-mute: #cfd9e9;
  --app-special: #e6f0ff;
  --app-active: #cfd9e9;
  --font-size-large: 24px;
  --font-size-small: 14px;
  --transition: all 300ms ease;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--app-bg);
}

main {
    min-height: 80vh;
    padding: 20px;
}

