:root {
  --app-bg: #ffffff;
  --app-white: white;
  --app-primary: #006cff;
  --app-secondary: #333;
  --app-text: #222;
  --app-special: #e6f0ff;
  --app-active: #cfd9e9;
  --font-size-large: 24px;
  --font-size-small: 14px;
}

body {
    margin: 0;
    background-color: var(--app-bg);
}

main {
    min-height: 80vh;
}
