* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--app-white);
}

.container {
    display: flex;
    margin: 20px;
}

a:hover,a.active{
    background: none;
    color: var(--app-primary);
}

.tabs {
    width: 200px;
    background-color: var(--app-white);
    padding: 20px;
}

.tabs ul {
    list-style: none;
}

.tabs ul li {
    padding: 10px 0;
}

.tabs ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    flex: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.ticket {
    background-color: var(--app-special);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.ticket-description {
    flex: auto;
    margin-right: 20px;
    color: #000000;
}

.ticket-actions {
    display: flex;
    gap: 10px;
}

.view-details {
    padding: 10px 20px;
    background-color: var(--app-white);
    border:0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.checked {
    padding: 10px 20px;
    background-color: var(--app-primary);
    color: var(--app-white);
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

button:hover {
    background-color: var(--app-active);
}