* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  color: var(--app-primary);
}

/*side navigation bar*/
.side-bar {
  position: fixed;
  width: 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}
/* .sidebar-container {
  width: 100%;
} */

.side-bar li {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 40px;
  color: var(--app-text);
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--transition);
}

.side-bar li:hover {
  background-color: var(--app-secondary);
  color: var(--app-white);
}

/*upper navigation bar*/
.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: var(--app-white);
}

.header-user {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background-color: var(--app-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user img {
  width: 20px;
  height: 20px;
}

.pro-pic {
  position: relative;
  width: 20px;
  height: 20px;
}

.pro-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pro-pic img:hover {
  background-color: #413b3a;
  color: var(--app-white);
}

/*content*/
.content {
  position: static;
  margin-top: 10vh;
  min-height: 90vh;
}

.cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 100px;
  background-color: var(--app-white);
  color: var(--app-primary);
  border-radius: 1rem;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-case img {
  width: 50px;
  height: 50px;
}

/*upcomming courses*/
.content-2 {
  min-height: 60vh;
}

.content-2 h1 {
  text-align: left;
}

.card:hover, .welcome:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}

.upcome {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.new-event {
  width: 350px;
  height: 200px;
  background-color: var(--app-primary);
  color: var(--app-white);
  border-radius: 1.5rem;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
}

.welcome {
  width: 100%;
  height: 100px;
  background-color: var(--app-primary);
  color: var(--app-white);
  border-radius: 1.5rem;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
}
.welcome:hover {
  box-shadow: 0 8px 16px 0 rgba(95, 96, 96, 0.2)
}